<%= form_tag dashboard_search_path, method: :get do %>
    <p>
        <%= text_field_tag :query, @query %>

        <%= submit_tag "Search" %></br>
        <span>Diet:</span>
        <%= select_tag(:diet, options_for_select(@diet_array.map { |d| [d, d] },  @diet))%>
        <span>Health:</span>
        <%= select_tag(:health, options_for_select(@health_array.map { |h| [h, h] }, @health)) %>
        <span>Cuisine Type:</span>
        <%= select_tag(:cuisine, options_for_select(@cuisine_array.map { |c| [c, c] }, @cuisine)) %>
        <span>Dish Type:</span>
        <%= select_tag(:dish, options_for_select(@dish_array.map { |s| [s, s] }, @dish)) %>
        <span>Exclude ingredient:</span>
        <%= text_field_tag :exclude, @exclude %>


    </p>
<% end %>
