
<h1>Dashboard Search</h1>

<%= render "queries" %>
<div class="recipe_response">
    <% @paginatable_array.map do |recipe| %>
        <%= link_to recipe['recipe']['url'] do %>
            <div class="recipe_block">
                <h4><%= recipe['recipe']['label'] %></h4>
                <img src="<%= recipe['recipe']['image'] %>"/>
            </div>
        <% end %> 
    <% end %> 
</div>

<%= paginate @paginatable_array %>

