<h1 id="h1_favorites">Saved Recipes of 
<% @user = current_user.first_name.capitalize %> 
<%= @user %>
</h1>
<div id="favorites_recipe_container">
    <% @favorites.sort.each do |favorite| %>
        <div class="favorites_recipe_block">
            <div class="favorites_recipe_link">
                <%= link_to favorite.url do %>
                    <h3><%= favorite.name.upcase %></h3>
                    <span>Ingredients:</span>
                    <%= favorite.ingredients %>
                <% end %>
            </div>
            <div id="heart_favorites_container">
                <%= link_to delete_favorite_path(favorite.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{favorite.name}?" }, :id => "delete_favorite_link filled_heart" do %>
                    <%= image_tag("filled_heart.png") %>
                <% end %>
            </div>
            </div>
    <% end %>
</div>