<h1>Saved Recipess of 
<% @user = current_user.first_name.capitalize %> 
<%= @user %>
</h1>
<% @favorites.sort.each do |favorite| %>
    <div class="random_recipe_response">
        <div class="random_recipe_block">
          <div class="random_recipe_link">
                  <%= link_to favorite.url do %>
                  <%= favorite.name.upcase %>
                  <%= favorite.ingredients %>
              <% end %>
              <%= link_to delete_favorite_path(favorite.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete #{favorite.name}?" }, :id => "delete_favorite_link" do %>
                  <i class="fa-solid fa-heart filled_heart" id="filled_heart" onclick="unfavorite(this)"></i>
              <% end %>
          </div>

        </div>
    </div>
<% end %>